@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Bem-Vindo ao Teste WebMotors</h1>
        <p>Utilize o menu acima para navegar na aplicação :)</p>

        <ul>
            <li style="text-align: justify"><u><b>Observação:</b></u> Necessário atualizar a string de conexão no arquivo de configuração (appsettings.json), ou descomentar no arquivo Context.cs para que o <u>EntityFramework</u> crie a base de dados da aplicação.</li>
        </ul>
    </div>
